@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
::-moz-selection {
    color: #003844;
    background-color: #ffcb45;
}

::selection {
    color: #003844;
    background-color: #ffcb45;
}

.rightbar {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.title-assignment {
    text-align: center;
    margin: 0.3em 0 0.6em;
    /* font-weight: 700; */
    font-family: 'Segoe UI', 'Roboto', Arial, Helvetica, sans-serif;
    color: #003844;
}

#noresult {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#btn-wrapper {
    max-width: 996px;
    margin: 0 auto;
}

#assignment-list {
    max-width: 996px;
    display: flex;
    flex-direction: column;
    margin: 4px auto 14px;
}

.assignment {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    /* border: 1.4px solid #003844; */
    border: 1px solid #00000020;
    /* box-shadow: 3px 5px 1px 0px #eeeeeec2; */
    border-radius: 15px;
    margin: 8px 22px;
    transition: 0.2s ease;
}

.assignment:hover {
    background-color: #003844;
    color: #fefae0;
    /* box-shadow: 5px 5px 1px 0px #e9e9e9ec; */
    /* box-shadow: 5px 5px 1px 0px #00284433; */
    box-shadow: 4px 8px 10px 3px #00284422;
}

.assignment-title {
    font-weight: 700;
}

.assignment-details {
    display: flex;
    flex-direction: column;
}

.assign-skill {
    font-size: 12px; 
    color: #98c5ff;
    /* color: #003844; */
    border-radius: 15px;
    /* background-color: #f3f3f3; */
    background-color: #f3f8ff;
    width: fit-content;
    width: -moz-fit-content;
    padding: 5px 9px;
    margin: 7px 0 0;
    transition: 0.2s ease;
}

.assignment:hover .assign-skill {
    background-color: #fefae0dd;
    color: #003844;
}

.deadline {
    color: #6a99a2;
    display: flex;
    flex-direction: column;
}

#edit-btn {
    color: #ef798a;
    background-color: #fff;
    border-radius: 15px;
    border: 1.3px solid #ef798a;
    margin: 20px 24px 0;
    padding: 5px 12px;
    font-weight: 700;
    transition: 0.2s ease;
}

#edit-btn:hover {
    background-color: #ef798a;
    color: #fff;
    box-shadow: 4px 5px 16px #ef798a55;
}



/* NEW ASSIGNMENT MODAL */
.modal-body {
    position: relative;
}
.close {
    position: absolute;
    right: 0;
    margin: 2px 16px;
}

.close:focus {
    box-shadow: none;
}

#exampleModalLabel {
    font-weight: 700;
    margin: 12px 0;
}
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e6e6e6;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #e6e6e6;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #e6e6e6;
}

.form-select {
    cursor: pointer;
}

.form-control, .form-select {
    padding: 0.6rem .75rem;
    font-size: 14px;
    font-family: "Poppins", "Roboto", "Segoe UI", sans-serif;
    border: 1.4px solid #f3f3f3;
    border-radius: 15px;
    background-color: #f3f3f3;
    transition: 0.2s ease;
}

.form-control:focus, .form-select:focus {
    background-color: #fff;
    border-color: #e9e9e9;
    box-shadow: none;
}

.col-form-label {
    padding: 4px 0;
    font-size: 13px;
    font-family: "Poppins", "Roboto", "Segoe UI", sans-serif;
    font-weight: 600;
}

.topic-input-wrapper {
    display: none;
}

.skill-input-wrapper {
    display: none;
}

#error {
    color: #ef798a;
    font-size: 15px;
}

#btn-create {
    border-radius: 15px;
    color: #ef798a;
    border: 1.6px solid #ef798a;
    font-weight: 500;
}

#btn-create:hover {
    background-color: #ef798a;
    color: #fff;
    box-shadow: 4px 5px 16px #ef798a55;
}

#btn-create:active {
    box-shadow: 4px 5px 16px #ef798a22;
}

.btn-cancel:focus {
    box-shadow: none;
}


/* EDUCATOR VIEW: ASSIGNMENT STATUS FOR EACH STUDENT MEMBER */
.status-header {
    margin: 10px 17% 2px 8%;
    display: flex;
    font-size: 12px;
}

.status-header div {
    width: 25%;
    text-align: center;
}

.member-assign-status {
    border-left: 2px dashed #eee;
    margin: 0 17% 2px 8%;
    padding: 8px 12px;
    /* width: 70%; */
    font-size: 14px;
    display: flex;
}
.member-assign-status div {
    width: 25%;
}

.assignment-status {
    /* display: flex;
    justify-content: center; */
    background-color: #f3f8ff;
    color: #98c5ff;
    border-radius: 15px;
    padding: 3px 7px;
    font-size: 12px;
    transition: 0.2s ease;
}

.member-assign-status:hover {
    background-color: #f3f8ff;
    color: #98c5ff;
}

.status, .score, .time_taken {
    display: flex;
    justify-content: center;
    align-items: center;

}

.ongoing {
    color: #ffcb45;
    background-color: #fff6de;
}

.complete {
    background-color: #e4fad8;
    color: #5ba93a;
}

.uncomplete {
    background-color: #ffe1e5;
    color: #ef798a;
}

.toggleContent {
    margin: 0 22px 0 0;
    opacity: 0;
    max-height: 0;
    overflow-y: scroll;
    transition: 0.2s ease-in-out;

}

.arrow {
    transition: 0.1s ease;
}

.visible {
    opacity: 1 !important;
    max-height: 1000px !important;
    padding-bottom: 8px;
}

.overdue {
    color: #ef798a;
    background-color: #ef798a33;
    border-radius: 15px;
    padding: 3px 5px;
    text-align: center;
    font-size: 12px;
    justify-content: center;
}


/* COMPLETED */
.completed-list-wrapper {
    max-width: 996px;
    margin: 0 auto;
    padding-top: 10px;
    cursor: pointer;
}


.tag-container {
    color: #333;
    font-size: 13px;
    margin: 8px 24px;
}

#completed-list {
    border-bottom: 1px solid #ddd;
    opacity: 0;
    max-height: 0;
    overflow-y: auto;
    transition: 0.2s ease-in-out;
}

.completed {
    /* margin: 8px !important; */
    color: #555;
    background-color: #fafafa;
}

.completed:hover {
    color: #000;
    background-color: #fff;
    box-shadow: 2px 2px 7px rgba(34, 34, 34, 0.04);
}

.rotate {
    transform: rotate(90deg);
}


@media (max-width: 768px) {
    #edit-btn {
        margin: 8px 10px 0;
        font-size: 14px;
    }
    #assignment-list {
        margin: 0 0 14px;
    }
    .assignment {
        margin: 8px 8px 0;
        padding: 14px;
        font-size: 14px;
    }
    .assign-skill {
        font-size: 11px;
        margin: 4px 0 0;
        padding: 2px 6px;
    }
    .level, .topicWrapper, .levelForm {
        width: 95%;
    }


    .member-assign-status  {
        font-size: 11px;
        margin: 0 0 2px 16px;
        padding: 8px 5px;
    }

    .status-header  {
        font-size: 10px;
        margin: 10px 6% 2px 6%;
        /* padding: 8px; */
    }

    .assignment-status {
        font-size: 9px;
    }

    .tag-container {
        margin: 8px;
    }
}