@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
::-moz-selection {
    color: #003844;
    background-color: #ffcb45;
}

::selection {
    color: #003844;
    background-color: #ffcb45;
}

.rightbar {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    margin: 0.3em 0 0.2em;
    font-weight: 700;
    color: #003844;
}

.rightbar {
    position: relative;
    background-image: url("../images/bg5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#back {
    font-size: 30px;
    font-weight: 800;
    padding: 8px;
    margin: 0.7em 0.5em 0;
    position: absolute;
    display: none;
    color: #003844;
    text-decoration: none;
}

#back:hover {
    color: #ffcb45;
}

#syllabusContainer, #topicContainer {
    display: flex;
    /* flex: 1; */
    justify-content: space-evenly;
    align-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

#levelContainer {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
    min-height: 20vh;
}

.level, .topicWrapper {
    border-radius: 15px;
    cursor: pointer;
    width: 40%;
    margin: 8px 0;
    padding: 14px;
    transition: 0.2s ease-in-out;
    background-color: #fff;
    color: #000;
    border: 1px solid #dedede;
    box-shadow: 3px 10px 10px #ffe19511;
}

.level {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    color: #003844;
    background-color: #ffcb45;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.level:hover {
    background-color: #003844;
    color: #fefae0;
    box-shadow: 3px 3px 10px 1px #00384477;
}

.icon {
    position: absolute;
    right: -26px;
    top: -26px;
    border-radius: 50%;
    background: #ffe195;
    color: #003844;
    padding: 10px;
    transition: color 0.2s ease;
}

.level:hover .icon {
    color: #003844;
    background-color: #ffcb45;
}

.icon:hover {
    color: #fefae0 !important;
    background-color: #ef798a !important;
}

.addLevel, .addTopic {
    background-color: #ffcb45;
    border-radius: 25px;
    position: fixed;
    right: 0;
    top: 82vh;
    margin: 28px;
    padding: 6px 18px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefae0;
    cursor: pointer;
    box-shadow: 3px 10px 20px #ffcb4577;
    transition: 0.2s ease;
    z-index: 5;
}

.addLevel:hover, .addTopic:hover {
    transform: translateY(-7px);
    background-color: #ffcb45;
    color: #fff;
    font-size: 19px;
}

.addTopic:focus {
    box-shadow: none;
}

.topicWrapper {
    padding: 0 0 8px;
}

.level p {
    margin: 0;
    font-weight: 600;
}

.topic p {
    margin: 0;
    padding: 14px;
    font-weight: 700;
    font-size: 18px;
}

.editTopic {
    border-radius: 15px 15px 0 0;
    background-color: #fefae0;
    color: #003844;
    transition: 0.2s ease;
}

.editTopic:hover {
    background-color: #ffcb45;
    color: #fefae0;
}

.level-container {
    width: 100%;
    position: relative;
}

.skill, .addSkill {
    padding: 9px;
    border-top: 1px solid #ddd;
    text-align: center;
    color: #ffcb45;
    transition: 0.2s ease-in-out;
}

.skill:hover, .addSkill:hover {
    background-color: #fefae0;
    color: #ffcb45;
}


/* NEW LEVEL FORM */
.close {
    position: absolute;
    right: 16px;
    top: 16px;
    margin: 8px;
}

.close:focus {
    box-shadow: none;
}

.form-control-plaintext:focus {
    outline: none;
}

.modal-header {
    border: none !important;
}

.modal-footer {
    border: none !important;
    display: flex;
    justify-content: center;
}

.form-control, .form-select {
    padding: 0.4rem .75rem;
    font-size: 14px;
    font-family: "Poppins", "Roboto", "Segoe UI", sans-serif;
    border: 1.3px solid #f3f3f3;
    border-radius: 15px;
    background-color: #f3f3f3;
    transition: 0.2s ease;
}

.form-control:focus, .form-select:focus {
    border-color: #ffcb45;
    background-color: #fff;
    box-shadow: 2px 5px 10px 2px #ffcb4544;
}

.input-group-text {
    font-size: 14px;
    font-family: "Poppins", "Roboto", "Segoe UI", Arial, sans-serif;
    color: #003844;
    background-color: #f3f3f3;
    border-color: #f3f3f3;
    font-weight: 500;
    border-radius: 0 15px 15px 0;
}

.col-form-label {
    padding: 4px 0;
    font-size: 14px;
    font-family: "Poppins", "Roboto", "Segoe UI", sans-serif;
    font-weight: 600;
}

/* ADD/EDIT LEVEL MODAL */
#inputLevel, #inputTopic {
    text-align: center;
}


/* NEW/UPDATE MODAL Content Styles */

.modal-content {
    color: #003844;
}

.modal-body {
    padding: 0.2em 1em;
}

.modal-header {
    padding: 0.7em 1em;
}

#easy_num, #medium_num, #difficult_num {
    font-size: 0.8em;
    margin-bottom: 3px;
}

#error {
    margin-bottom: 10px;
}

/* button styles */
.deleteSkillBtn, .deleteTopicBtn,
.deleteLevelBtn {
    border: 1.3px solid #ef798a;
    color: #ef798a;
    font-weight: 600;
    border-radius: 15px;
}

.deleteSkillBtn:hover, .deleteTopicBtn:hover,
.deleteLevelBtn:hover {
    background-color: #ef798a;
    color: #fff;
    box-shadow: 4px 5px 16px #ef798a55;
}

.deleteSkillBtn:focus, .deleteTopicBtn:focus,
.deleteLevelBtn:focus {
    box-shadow: 0px 0px 0px 4px #ef798b8b !important;
}

.updateSkillBtn, .addTopicBtn, 
.addLevelBtn, .addSkillBtn, .editTopicBtn,
.editLevelBtn {
    border: 1.3px solid #ffcb45;
    font-weight: 600;
    border-radius: 15px;
    background-color: #fffbf2;
    color: #ffcb45;
}

.updateSkillBtn:hover, .addTopicBtn:hover, 
.addLevelBtn:hover, .addSkillBtn:hover, .editTopicBtn:hover,
.editLevelBtn:hover {
    background-color: #ffcb45;
    color: #fff;
    box-shadow: 4px 5px 16px #ffcb4555;
}

.updateSkillBtn:focus, .addTopicBtn:focus, 
.addLevelBtn:focus, .addSkillBtn:focus, .editTopicBtn:focus,
.editLevelBtn:focus {
    box-shadow: none;
}

label .fas:hover {
    color: #ffcb45;
}

@media (max-width: 768px) {
    .level, .topicWrapper, .levelForm {
        width: 95%;
    }
}