
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

::-moz-selection {
    color: #003844;
    background-color: #ffcb45;
}

::selection {
    color: #003844;
    background-color: #ffcb45;
}

.rightbar {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    margin: 0.6em 0 0.2em;
    font-weight: 700;
    color: #003844;
    text-shadow: 2px 2px 0px #ffcb45;
}

.btn-wrapper {
    margin: 0 15px;
    display: flex;
    justify-content: flex-end;
}

.add-btn {
    /* position: absolute; */
    padding: 8px 14px;
    color: #ffcb45;
    font-weight: 700;
    /* right: 50px;
    top: 50px; */
    /* width: 40%; */
}

.add-btn:hover {
    color: #003844;
}

/* GROUP WRAPPER */
#group-list {
    display: flex;
    flex-wrap: wrap;
}

.group {
    cursor: pointer;
    width: 31%;
    background-color: #fff;
    color: #003844;
    background-repeat: no-repeat;
    border: 1px solid #f5efcb;
    border-radius: 15px;
    margin: 15px 1%;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 10px 20px rgba(59, 59, 59, 0.054);
    transition: 0.2s ease-in-out;
}

.group:hover {
    background-color: #98c5ff;
}

.group-body {
    border-bottom: 1px solid #f5efcb;
    padding: 14px;
}

.group_name {
    font-size: 18px;
    font-weight: 500;
}

.latest_msg {
    font-size: 14px;
    color: #17505d;
}

.group-icon {
    font-size: 24px;
    margin-right: 8px;
}

.group-owner {
    padding: 4px 12px;
    font-size: 12px;
    display: flex;
    align-items: center;
}

/* ADD GROUP MODAL CONTENT */
/* .form-control {
    padding: 0.25em 0.2em;
    border: 0;
    border-radius: 5px 5px 0 0;
    border-bottom: 1.3px solid #17505d;
    transition: 0.3s ease-in-out;
} */

.modal-body {
    position: relative;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
}

.form-control:focus , .btn:focus {
    border-color: #ffcb45;
    background-color: #f5efcb;
    box-shadow: 0px 0px 0px 4px #ffe195;
}


.col-form-label {
    padding: 2px 0;
}

#addGroup {
    color: #003844;
    background-color: #ffcb45;
    font-weight: 700;
}

#error {
    margin-bottom: 10px;
}


/* POPOVER CONTENT */
.popover_wrapper {
    position: relative;

}

.popover_content {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translate(0, 10px);
    background-color: #fff;
    border: 1px solid #f5efcb;
    transition: all 0.3s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    z-index: 10;
}

.display_popover {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0px);
}


#search-list{
    color: #003844;
}

.result {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 8px 14px;
    border-bottom: 1px solid #f5efcb;
}

.result:hover {
    background-color: #f5efcb;
}

.name {
    font-weight: 700;
    font-size: 14px;
}

.email {
    font-size: 13px;
    color: #17505d;
}

/* ADDED MEMBERS LIST */
#added-list {
    color: #003844;
    margin-top: 5px;
}

.added-member {
    display: flex;
    /* flex-direction: column; */
    padding: 4px 12px;
    font-size: 12px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

.added-member:hover {
    background-color: #f5efcb;
}

.member-details {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.remove-member {
    color: #ffcb45;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.2s;
}

.remove-member:hover {
    cursor: pointer;
    color: #003844;
}

.added-name {
    font-weight: 500;
}

@media (max-width: 768px) {
    .group {
        width: 46%;
        margin: 2%;
    }
}

@media (max-width: 576px) {
    .group {
        width: 100%;
        margin: 6px 0;
    }
}