
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --black: rgba(3, 1, 4);
    --maincolor: rgb(0, 220, 113);
    --mainshadow: rgba(24, 216, 123, 0.3);
    --blue: #98c5ff;
    --orange: #ffcb45;
    --pink: #ef798a;
    --navyblack: #003844;
    --cream: #fefae0;
}

::-moz-selection {
    color: #003844;
    background-color: #ffcb45;
}

::selection {
    color: #003844;
    background-color: #ffcb45;
}

.rightbar {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.title {
    font-family: 'Segoe UI', 'Roboto', Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0.3em 0 0.2em;
    /* font-weight: 700; */
    color: #003844;
}

.btn-wrapper {
    margin: 0 10px;
    display: flex;
    justify-content: flex-end;
}

.add-btn {
    /* position: absolute; */
    padding: 6px 20px;
    border-radius: 12px;
    background-color: #f3f3f3;
    font-weight: 700;
    font-size: 14px;
}

.add-btn:hover {
    color: #fff;
    background-color: #ef798a;
    box-shadow: 4px 5px 16px #ef798a55;
}

.add-btn:focus {
    box-shadow: none;
}

/* GROUP WRAPPER */
#group-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.group {
    cursor: pointer;
    width: 31%;
    background-color: #fff;
    color: #003844;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,.07);
    border-radius: 15px;
    margin: 15px 1%;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 10px 20px rgba(59, 59, 59, 0.054);
    transition: 0.2s ease-in-out;
}

.group:hover {
    background-color: #98c5ff;
    border-color: #98c5ff;
    box-shadow: 3px 8px 10px 4px #98c5ff52;
}

.group-body {
    border-bottom: 1px solid rgba(0,0,0,.07);
    margin: 14px 14px 0;
    padding-bottom: 14px;
}

.group_name{
    font-size: 18px;
    font-weight: 500;
}



.latest_msg, .sender_name {
    font-size: 14px;
    color: #256573;
}

.latest-msg-wrapper {
    overflow: hidden;
    position: relative;
    height: 1.25em;

}


.group-icon {
    font-size: 24px;
    margin-right: 8px;
}

.group-owner {
    padding: 4px 12px;
    font-size: 12px;
    display: flex;
    align-items: center;
}

/* ADD GROUP MODAL CONTENT */
.modal-body {
    position: relative;
}

#exampleModalLabel {
    font-weight: 700;
    margin: 12px 0;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
}

.form-control, .form-select {
    padding: 0.6rem .75rem;
    font-size: 14px;
    font-family: "Poppins", "Roboto", "Segoe UI", sans-serif;
    border: 1.4px solid #f3f3f3;
    border-radius: 15px;
    background-color: #f3f3f3;
    transition: 0.2s ease;
}

.form-control:focus, .form-select:focus {
    background-color: #fff;
    border-color: #e9e9e9;
    box-shadow: none;
}

.col-form-label {
    padding: 4px 0;
    font-size: 13px;
    font-family: "Poppins", "Roboto", "Segoe UI", sans-serif;
    font-weight: 600;
}


.col-form-label {
    padding: 2px 0;
}

#addGroup {
    border: 1.4px solid #ef798a;
    color: #ef798a;
    font-weight: 600;
    border-radius: 15px;
}

#addGroup:hover {
    background-color: #ef798a;
    color: #fff;
    box-shadow: 4px 5px 16px #ef798a55;
}

#addGroup:focus {
    box-shadow: 0px 0px 0px 4px #ef798b8b !important;
}

#error {
    margin-bottom: 10px;
    color: #ef798a;
}


/* POPOVER CONTENT */
.popover_wrapper {
    position: relative;

}

.popover_content {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translate(0, 10px);
    background-color: #fff;
    border: 1px solid #f5efcb;
    transition: all 0.3s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    z-index: 10;
}

.display_popover {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0px);
}


#search-list{
    color: #003844;
}

#search-list {
    color: #003844;
    border-radius: 15px;
}

.result:first-child {
    border-radius: 15px 15px 0 0;
}

.result:last-child {
    border-radius: 0 0 15px 15px;
    border: none;
}

.result {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 8px 14px;
    border-bottom: 1px solid #f5efcb;
    transition: 0.2s ease;
}

.result:hover {
    background-color: #f5efcb;
}

.name {
    font-weight: 700;
    font-size: 14px;
}

.email {
    font-size: 13px;
    color: #17505d;
}

/* ADDED MEMBERS LIST */
#added-list {
    color: #003844;
    margin-top: 5px;
}

.added-member {
    display: flex;
    /* flex-direction: column; */
    padding: 4px 12px;
    font-size: 12px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

.added-member:hover {
    background-color: #f5efcb;
}

.member-details {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.remove-member {
    color: #ffcb45;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.2s;
}

.remove-member:hover {
    cursor: pointer;
    color: #003844;
}

.added-name {
    font-weight: 500;
}

@media (max-width: 768px) {
    .group {
        width: 46%;
        margin: 2%;
    }
}

@media (max-width: 576px) {
    .group {
        width: 100%;
        margin: 6px 0;
    }
}