@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
::-moz-selection {
    color: #003844;
    background-color: #ffcb45;
}

::selection {
    color: #003844;
    background-color: #ffcb45;
}

.rightbar {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.title-leaderboard {
    text-align: center;
    margin: 0.3em 0 0.2em;
    /* font-weight: 700; */
    color: #003844;
    font-family: 'Segoe UI', Arial, sans-serif;
}

/* FILTER STYLES */

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.filter-select {
    width: 30%;
    border-radius: 15px;
    font-size: 13px;
    padding: 0.25em 0.7em;
}

.filter-select:focus {
    border-color: #ffcb45;
    box-shadow: 0px 0px 0px 4px #ffe195;
}

/* NO RESULT */
#noresult {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* TOP 3 Students */
#top-3 {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 992px;
    margin: 24px auto;
}

.top-rank {
    background-color: #003844;
    color: #fefae0;
    margin: 0 8px;
    padding: 24px 20px 20px;
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    align-self: flex-start;
    border-radius: 15px;
    box-shadow: 0px 6px 14px #26262635;
}

.top-rank-num {
    font-size: 16px;
    font-weight: 300;
    padding: 10px;
}

/* TROPHY STYLES */

.top-rank:nth-child(1) i {
    font-size: 49px;
    padding: 6px;
    color: #FFD700;
}

.top-rank:nth-child(2) i {
    font-size: 43px;
    padding: 6px;
    color: #D3D3D3;
}

.top-rank:nth-child(3) i {
    font-size: 37px;
    padding: 6px;
    color: #dc934a;
}

.top-rank:nth-child(2) {
    order: -1;
    margin-top: 50px;
    /* background-color: #b6b6b5; */
}

.top-rank:nth-child(3) {
    margin-top: 70px;
    /* background-color: #a78d3a; */
}

.top-name {
    font-weight: 900;
    /* font-size: 17px; */
}

.stats {
    margin-top: 18px;
    display: flex;
    justify-content: center;
}

.top-avg-score, .top-num-of-quiz, .top-avg-time {
    padding: 6px;
    width: 33%;
    font-size: 12px;
}

.top-num-of-quiz, .top-avg-time {
    border-left: 1.4px solid #17505d;
}

/* Leaderboard list */

.heading {
    max-width: 100%;
    font-size: 14px;
    margin: 0 0.2rem;
}

#leaderboard {
    max-width: 996px;
    font-size: 15px;
    margin: 19px auto;
}

.student-row {
    border: 1.3px solid #ffcb45;
    padding: 12px 0;
    margin: 17px 10px;
    border-radius: 15px;
    color: #003844;
    transition: 0.2s ease-in;
}

.student-row:hover {
    color: #003844;
    background-color: #ffcb45;
}

.student-rank {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rank {
    border-radius: 25px;
    padding: 14px !important;
    margin-right: 6px;
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 15px;
}

.name {
    font-weight: 700;
    font-size: 16px;
}

@media (max-width: 768px) {
    .top-rank {
        font-size: 11px;
        padding: 14px 5px;
        margin-left: 3px;
        margin-right: 2px;
    }
    .top-rank i {
        font-size: 24px !important;
    }
    .top-rank-num {
        padding: 0;
    }
    .stats {
        flex-direction: column;
    }
    .top-avg-score, .top-num-of-quiz, .top-avg-time {
        font-size: 9px;
        width: 100%;
        padding: 2px 0;
        text-align: center;
        border: none;
    }
    .heading {
        font-size: 10px;
    }
    #leaderboard {
        font-size: 11px;
        margin: 19px 8px;
    }
    .student-row span {
        padding: 4px;
    }
    .top-rank-num {
        font-size: 12px;
    }
    .heading span {
        padding: 0;
    }
    .rank {
        /* border-radius: 25px; */
        font-size: 12px;
        padding: 12px !important;
        margin: 0 5px;
    }
    .name {
        font-size: 13px;
    }
}
