::-moz-selection {
    color: #003844;
    background-color: #ffcb45;
}

::selection {
    color: #003844;
    background-color: #ffcb45;
}

.rightbar {
    display: flex;
    flex-direction: column;
    background-image: url("/images/bgimg.jpg");
    /* background-color: #f4f9ff; */
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Page Layout */

.overview-wrapper {
    display: flex;
    flex-direction: row;
    align-self: center;
    max-width: 1200px;
    padding: 0 20px;
    /* margin: 0 auto; */
}

.column1 {
    width: 30%;
    padding: 12px 18px;
    display: flex;
    flex-direction: column;
}

.column2 {
    width: 70%;
    padding: 12px 22px;
    display: flex;
    flex-direction: column;
}

.profileimg-wrapper {
    /* border: 1.5px solid rgba(0, 0, 0, 0.2); */
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    width: 300px;
    max-width: 100%;
    box-shadow: 1px 1px 18px 3px rgba(0, 0, 0, 0.05);
}


.profileimg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.progress {
    height: 20px;
    border-radius: 15px;
}

.recommendedquiz {
    /* padding-left: 270px; */
    padding-top: 20px;
}

.recommendedquiztext {
    text-align: center;
}

.recommendedquiz p {
    margin-bottom: 0.5rem;
}

.trynowbox div {
    margin-bottom: 0.4em;
}
.trynowbox {
    border-radius: 15px;
    padding: 14px;
    text-align: center;
    background-color: #f4f9ff;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05); */
}

.trynowbox a {
    text-decoration: none;
    color: #484848;
    padding-bottom: .4em;
}

.trynowbox a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .7s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 10%;
    border-bottom: 0;
    text-decoration: none;
}

.trynowbutton {
    border-radius: 20px;
    background-color: lightslategrey;
    size: 20px;
    padding: 2px 24px;
    margin-top: 20px;
    transition-duration: 0.4s;
    border: 0;
}

.trynowbutton:hover {
    background-color: grey;
}

.trynowbutton:active {
    position: relative;
    top: 1px;
}

.dailyquiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #98C5FF; */
    background-color: #98C5FF;
    backdrop-filter: blur(6px);
    /* margin: -490px 0px 0px 600px; */
    min-height: 180px;
    border-radius: 20px;
    padding: 35px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.dailyquiz h3 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    font-weight: 700;
}

/* top | right | bottom | left */

.dailyquizbutton {
    border-radius: 20px;
    background-color: #ef798a;
    color: #fff;
    font-family: "Poppins", "Segoe UI", Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 6px 48px;
    transition-duration: 0.3s;
    border: 0;
    margin: 14px 0px 0px;
}

.dailyquizbutton:hover {
    background-color: #bc5867;
    color: #ddd;
}

.dailyquizbutton:active {
    position: relative;
    top: 1px;
}

.outstanding {
    background-color: #f4f9ff;
    margin: 30px 0px 0px;
    min-height: 100px;
    border-radius: 20px;
    padding: 30px;
}

.outstanding h5 {
    text-align: center;
    font-family: "roboto", sans-serif;
    margin-top: -5px;
}

.outstanding h6 {
    text-align: center;
    font-family: "roboto", sans-serif;
    color: #696969;
}


/* Play Game wrapper */
.play-game {
    position: relative;
    background-image: url("../images/game.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 12px;
    background-color: #f4f9ff;
    border-radius: 15px;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
}

.play-game:hover {
    filter: brightness(0.9);
}

.play-game strong {
    font-family: "Poppins", "Segoe UI", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 22px;
    color: #000;
}

@media (max-width: 768px) {
    .overview-wrapper {
        flex-direction: column;
        padding: 0;
    }
    .column1 {
        width: 100%;
        padding: 12px;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 0 1.5rem;
    }
    .profileoverview {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profileimg-wrapper {
        width: 25%;
        margin-right: 20px;
    }
    .progress {
        width: 65%;
        margin-top: 0 !important;
    }
    .recommendedquiz {
        width: 100%;
        margin: 0 0 20px;
    }
    .play-game {
        min-height: 90px;
        width: 100%;
        order: 2;
        margin: 0;
    }
    .column2 {
        width: 100%;
        padding: 12px;
    }
}


@media (max-width: 996px) {
    /* .column1 {
        padding: 10px;
        flex-direction: row;
    }
    .column2 {
        padding: 10px;
        flex-direction: row;
    } */
}

@media (min-width: 1200px) {
    .column1 {
        width: 25%;
    }
    .column2 {
        width: 75%;
    }
}